# Iterables

An object/collection that can return its elements one at a time, allowing it to be iterated over in a loop

In [1]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [2]:
for item in reversed(numbers):
    print(item)

5
4
3
2
1

In [3]:
numbers = (1, 2, 3, 4)

for number in numbers:
    print(number)

1
2
3
4

In [7]:
fruits = {'apple', 'orange', 'banana'}

for fruit in fruits: 
    print(fruit)

banana
orange
apple

In [8]:
fruits = {'apple', 'orange', 'banana'}

for fruit in reversed(fruits): # sets are not reversible so can't do reversed(fruits)
    print(fruit)

TypeError: 'set' object is not reversible

In [11]:
name = "helloo oooo"

for character in name:
    print(character)

h
e
l
l
o
o

o
o
o
o

In [12]:
my_dictionary = {"A":1, "B":2, "C":3}

for key in my_dictionary:
    print(key)

A
B
C

In [13]:
for value in my_dictionary.values():
    print(value)

1
2
3

In [15]:
for key, value in my_dictionary.items():
    print(f"{key} = {value}")

A = 1
B = 2
C = 3